.link-info-wrapper {
  display: block;
  text-align: left;
  padding: 10px;
  color: white;
  clear: both;
}

.link-info-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.attribute-section {
  width: 100%;
}

.link-info-header {
  display: flex;
  border-bottom: 1px solid #444;
}

.metadata-container {
  width: 100%;
  display: block;
  margin-bottom: 15px;
}

.form-group-metadata {
  margin-bottom: 4px;
  display: block;
  white-space: nowrap;
}

.attribute-row {
  display: flex;
  width: 100%;
  margin-bottom: 8px;
}

.attribute-label {
  width: 170px;
  color: #ccc;
  margin-bottom: 2px;
}

.attribute-value {
  flex-grow: 1;
  font-weight: bold;
}