node_modules
/dist
.idea*
*.iml
*.swp
tags
target/
.DS_Store
logs/
project/project/
package-lock.json
digiroad2.boot.log
/build/
.classpath
.project
.settings/
WebContent/
/local-dev/postgis/data/
revision.properties
bonecp.properties
.github/
.env
.db
session-manager-plugin.deb
.bloop