#map-plugins {
	.map-footer {
		position: relative;
		width: 100%;
		height: 100%;
	}
}

#map-plugins {
	.checkbox-dropdown-wrapper .dropdown-toggle {
		margin-left: 8px;
		padding: 0 6px;
		cursor: pointer;
		user-select: none;
		width: 100%;
		height: 22px;
		font-size: 11px;
		display: flex;
		align-items: center;
		justify-content: center;
		box-sizing: border-box;
	}

	.checkbox-dropdown-wrapper .checkbox-dropdown {
		margin-left: 8px;
		display: none;
		position: absolute;
		bottom: 100%;
		left: 0;
		background: white;
		border: 1px solid #ccc;
		box-shadow: 0 2px 5px rgba(0,0,0,0.15);
		z-index: 15001;
		padding: 6px;
		width: 215px;

		.checkbox {
			margin: 0;
		}

		.checkbox + .checkbox {
			margin-top: 6px;
		}
	}

	.checkbox-dropdown-wrapper.open .checkbox-dropdown {
		display: block !important;
	}

	.checkbox-dropdown-wrapper {
		position: relative;
	}

	@media (max-width: 1350px) {
		.hide-on-medium {
			visibility: hidden;
		}
	}
}

#map-plugins {
	.tile-map-selector {
		display: flex;
		position: absolute;
		top: 0;
		height: 100%;
		align-items: center;
		padding: 0 (@line-height-modifier * 2);

		ul {
			display: inline-flex;
			align-items: center;
			margin: 0;
			padding: 0;

			li {
				.btn;
				display: inline-block;
				border: 1px solid transparent;
				vertical-align: middle;
				text-align: center;
				background-image: none;
				cursor: pointer;
				white-space: nowrap;
				user-select: none;
				transition: all 0.2s cubic-bezier(0.55, 0, 0.1, 1);
				padding: 5px 7.5px;
				font-size: 10px;
				line-height: 10px;
				box-sizing: border-box;
				height: 22px;
				position: relative;
				width: auto;
				margin: 0 0 0 -1px;
				border-radius: 0;

				&:not(.selected) {
					border-color: #7f7f7c;
					color: #383836;
					background-color: #cbcbc9;
					box-shadow: inset 0 1px 0 rgba(247, 247, 246, 0.325), 0px 1px 1px 0px rgba(23, 23, 23, 0.25);
					border-top-right-radius: 3px;
					border-bottom-right-radius: 3px;
				}

				&.selected {
					.btn-secondary;
					padding: @line-height-modifier (@line-height-modifier * 1.5);
					font-size: @font-size-xs;
					line-height: @line-height-modifier * 2;
					height: 22px;
					border-radius: 0;
					z-index: 2;
					color: #fff;
				}

				&:first-child {
					margin-left: 0;
					border-top-left-radius: @border-radius-base;
					border-bottom-left-radius: @border-radius-base;
				}

				&:last-child {
					border-top-right-radius: @border-radius-base;
					border-bottom-right-radius: @border-radius-base;
				}
			}
		}

		.layer-option-visible-wrapper {
			display: inline-flex;
			align-items: center;
			border-left: 1px solid #cbcbc9;
			margin-left: 10px;
			height: 100%;
			padding-left: 10px;

			.checkbox {
				display: inline-flex;
				align-items: center;
				margin: 0;
			}

			.checkbox-label {
				display: inline-flex;
				align-items: center;
				gap: 6px;
				font-size: @font-size-xs;
				line-height: 1;
			}

			.checkbox-text {
				line-height: 1.2;
			}
		}
	}
}

#map-plugins {
	.coordinates {
		@coordinates-gap: (@line-height-modifier * 1.5);
		position: absolute;
		top: 0;
		right: 10px;
		display: inline-flex;
		align-items: center;
		gap: @coordinates-gap;
		font-size: @font-size-xs;
		color: @gray-darkest;
		text-align: right;

		.cbCrsLabel {
			color: @gray;
		}

		.cbCoordinate {
			display: inline-block;
			white-space: nowrap;
		}

		.crosshair-wrapper {
			display: inline-flex;
			align-items: center;
			height: @line-height-base * 2;
			padding: 0 0 0 (@line-height-modifier * 2);
			border-left: 1px solid @gray-light-2;
			.box-sizing(border-box);

			.checkbox {
				margin: 0;
				display: inline-flex;
				align-items: center;
			}

			.checkbox-label {
				display: inline-flex;
				align-items: center;
				font-size: @font-size-xs;
				gap: 6px;
				line-height: 1;
				padding: 0;
				margin: 0;
			}

			.checkbox-input {
				margin: 0;
				flex-shrink: 0;
			}

			.checkbox-text {
				display: inline-block;
				line-height: 1.2;
			}
		}
	}
}

.crosshair {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 1000;
	border-width: 0;
	border-style: solid;
	border-color: @gray-darker-2;
	background-color: rgba(red(@warning), green(@warning), blue(@warning), .85);
	pointer-events: none;
}

.crosshair-center {
	width: 2px;
	height: 2px;
	margin: -1px 0 0 -1px;
	padding-inline-end: 0;
	padding-inline-start: 0;
}

.crosshair-top {
	width: 2px;
	height: 14px;
	margin: -16px 0 0 -2px;
	border-width: 1px 1px 0 1px;
	border-radius: 2px 2px 0 0;
}

.crosshair-bottom {
	width: 2px;
	height: 14px;
	margin: 1px 0 0 -2px;
	border-width: 0 1px 1px 1px;
	border-radius: 0 0 2px 2px;
}

.crosshair-left {
	width: 14px;
	height: 2px;
	margin: -2px 0 0 -16px;
	border-width: 1px 0 1px 1px;
	border-radius: 2px 0 0 2px;
}

.crosshair-right {
	width: 14px;
	height: 2px;
	margin: -2px 0 0 1px;
	border-width: 1px 1px 1px 0;
	border-radius: 0 2px 2px 0;
}
