.btn-close {
  border: none;
  position: absolute;
  top: 7px;
  right: 5px;
  background: transparent;
  text-shadow: -1px 0 @blue-lighter, 0 1px @blue-lighter, 1px 0 @blue-lighter, 0 -1px @blue-lighter;
  color: @gray-lightest;

  .form-dark & {
    color: @gray-lighter;
  }

  font-size: 200%;
  font-weight:bold;
}

.btn-delete {
  cursor: pointer;
  background: transparent;
  color: @warning;
  border: none;
  outline: none;
}

.btn-delete.disabled,
.btn-delete[disabled] {
  cursor: not-allowed;
}

.btn-pencil-edit {
  color: @blue !important;
  margin-left: 1em;
  cursor: pointer;
}

.btn-icon {
  padding-left: 5px;
  cursor: pointer;
}

.menu-close-btn {
  border: none;
  background: transparent;
}