//== Tables

th {
  text-align: left;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: @line-height-modifier * 2;

  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        vertical-align: top;
        padding: @table-cell-padding;
        border-top: 1px solid @table-border-color;
        line-height: @line-height-base;
      }
    }
  }
}