.dev-address-tool-wrapper {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.dev-wrapper-row {
  margin: 10px;
  display: flex;
  flex-direction: row;
}

.dev-wrapper-column {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.dev-address-field-wrapper {
  display: inline-flex;
  margin: 10px 10px;
}

.dev-addressfield {
  display: flex;
  flex-direction: column;
  margin-right: 15px;
}


#sideCodeDropdown {
  width: 130px !important;
  display: inline;
}

#startCPDropdown,
#endCPDropdown {
  width: 100px !important;
  display: inline;
}

#newRoadwayNumber {
  margin-right: 10px;
  vertical-align: middle;
}

.dev-wrapper-row label {
  vertical-align: middle;
  display: inline-block;
  line-height: 1.2;
}

.dev-label, .dev-length {
  color: white;
}