.panel-legend {
  .legend-entry-inline-flex {
    min-width: 100%;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
  }

  .node-select-hint {
    font-size: 11px;
    margin-top: 5px;
  }

  .legend-entry-icon-object {
    margin-right: 5px;
    margin-top: 5px;
  }

  .legend-entry-icon-image {
    margin-right: 5px;
  }

  .legend-entry {
    .label {
      display: block;
      font-size: @font-size-xs;
      line-height: @line-height-base;
    }

    .label-2lined {
      display: block;
      font-size: @font-size-xs;
      line-height: 13px;
      margin-top: 5px;
      margin-bottom: 5px;
    }

    .symbol {
      margin-bottom: 5px;
    }

    .linear {
      width: 100%;
      height: 8px;
      border: 1px solid @gray;
      border-radius: 4px;
      background-color: @gray-light;
      .box-sizing(border-box);
    }

    .middle {
      border-radius: 0;
      width: 11.3%;
      margin-bottom: 3px;
    }

    .edge-left {
      margin-left: 5px;
      width: 1px;
      margin-bottom: 3px;
    }

    .edge-right {
      width: 2px;
      margin-bottom: 3px;
    }

    .rainbow-container {
      background-color: black;
      line-height: 14px;
    }
  }
}

.dotted-linear-asset {
  background-image: linear-gradient(to right, @gray-lighter 50%, transparent 0%);
  background-position: -5px top;
  background-size: 14px 14px;
  background-repeat: repeat-x;
}

.dark-dotted-linear-asset {
  background-image: linear-gradient(to right, @gray-darker-2 50%, transparent 0%);
  background-position: -5px top;
  background-size: 14px 14px;
  background-repeat: repeat-x;
}

.linear-asset-legend-entry(@color, @endpoint-color) {
  border-color: @color;
  background-color: rgba(red(@color), green(@color), blue(@color), .7);

  &:before,
  &:after {
    content: "";
    background: @endpoint-color;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    position: absolute;
    top: -1px;
  }

  &:before {
    left: -1px;
  }

  &:after {
    right: -1px;
  }
}

.rainbow-asset-legend-entry(@color, @endpoint-color) {
  border-color: @color;
  background-color: @color;
}

.linear-asset-legend {
  .legend-entry {
    .linear {
      position: relative;
      display: inline-block;
      margin-bottom: 0;
    }
  }
}

.road-class-legend {
  .legend-entry {
    .label {
      display: block;
      font-size: @font-size-xs;
      line-height: @line-height-base;
    }

    .linear-asset-7,
    .linear-asset-8,
    .linear-asset-9,
    .linear-asset-10 {
      &:extend(.dotted-linear-asset);
    }

    .construction-type-1,
    .construction-type-0 {
      &:extend(.dark-dotted-linear-asset);
    }

    .linear-asset-1 {
      .linear-asset-legend-entry(@linear-asset-1, @linear-asset-node-1);
    }

    .linear-asset-2 {
      .linear-asset-legend-entry(@linear-asset-2, @linear-asset-node-2);
    }

    .linear-asset-3 {
      .linear-asset-legend-entry(@linear-asset-3, @linear-asset-node-3);
    }

    .linear-asset-4 {
      .linear-asset-legend-entry(@linear-asset-4, @linear-asset-node-4);
    }

    .linear-asset-5 {
      .linear-asset-legend-entry(@linear-asset-5, @linear-asset-node-5);
    }

    .linear-asset-6 {
      .linear-asset-legend-entry(@linear-asset-6, @linear-asset-node-6);
    }

    .linear-asset-7 {
      .linear-asset-legend-entry(@linear-asset-7, @linear-asset-node-7);
    }

    .linear-asset-8 {
      .linear-asset-legend-entry(@linear-asset-8, @linear-asset-node-8);
    }

    .linear-asset-9 {
      .linear-asset-legend-entry(@linear-asset-9, @linear-asset-node-9);
    }

    .linear-asset-10 {
      .linear-asset-legend-entry(@linear-asset-10, @linear-asset-node-10);
    }

    .linear-asset-11 {
      .linear-asset-legend-entry(@linear-asset-11, @linear-asset-node-11);
    }

    .linear-asset-12 {
      .linear-asset-legend-entry(@linear-asset-12, @linear-asset-node-12);
    }

    .linear-asset-99 {
      .linear-asset-legend-entry(@linear-asset-99, @linear-asset-node-99);
    }

    .rainbow-asset-1 {
      .rainbow-asset-legend-entry(@linear-asset-1, @linear-asset-node-1);
    }

    .rainbow-asset-2 {
      .rainbow-asset-legend-entry(@linear-asset-2, @linear-asset-node-2);
    }

    .rainbow-asset-3 {
      .rainbow-asset-legend-entry(@linear-asset-3, @linear-asset-node-3);
    }

    .rainbow-asset-4 {
      .rainbow-asset-legend-entry(@linear-asset-4, @linear-asset-node-4);
    }

    .rainbow-asset-5 {
      .rainbow-asset-legend-entry(@linear-asset-5, @linear-asset-node-5);
    }

    .rainbow-asset-6 {
      .rainbow-asset-legend-entry(@linear-asset-6, @linear-asset-node-6);
    }

    .construction-type-0 {
      .linear-asset-legend-entry(@construction-type-1, @construction-type-1);
    }

    .construction-type-1 {
      .linear-asset-legend-entry(@construction-type-2, @construction-type-2);
    }

    .operation-type-unchanged {
      .linear-asset-legend-entry(@operation-unchanged, @operation-unchanged);
    }

    .operation-type-new {
      .linear-asset-legend-entry(@operation-new, @operation-new);
    }

    .operation-type-transfer {
      .linear-asset-legend-entry(@operation-transfer, @operation-transfer);
    }

    .operation-type-terminated {
      .linear-asset-legend-entry(@operation-termination, @operation-termination);
    }

    .operation-type-renumbered {
      .linear-asset-legend-entry(@operation-numbering, @operation-numbering);
    }

    .operation-type-unhandeled {
      .linear-asset-legend-entry(@operation-unhandled, @operation-unhandled);
    }

    .operation-type-suravage {
      .linear-asset-legend-entry(@suravage-links, @suravage-links);
    }
  }
}

.panel-actions {
  .action {
    float: left;
    position: relative;
    width: 26px;
    height: 26px;
    margin-right: 5px;
    border: 1px solid transparent;
    border-radius: @border-radius-small;
    cursor: pointer;
    .box-sizing(border-box);
    .transition(all .2s @easing-swift-out);

    .icon-add,
    .icon-select {
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -13px 0 0 -13px;
      width: 26px;
      height: 26px;

      .shape {
        fill: @gray-dark;
        .transition(all .2s @easing-swift-out);
      }
    }
  }

  .active {
    border-color: @blue;
    background-color: @blue-lightest;

    .icon-add,
    .icon-select {
      .shape {
        fill: @blue-darker;
      }
    }
  }
}