.dynamic-link-network-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.dynamic-link-network-description,
.dynamic-link-network-info {
  padding: 10px;
  font-size: 14px;
}

.dynamic-link-network-info-placeholder {
  visibility: hidden;
}

.dynamic-link-network-input {
  display: flex;
  flex-direction: column;
}

.dynamic-link-network-input-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 10px;
  padding: 10px;

  input[type="checkbox"] {
    align-self: baseline;
  }
}

.dynamic-link-network-date-input {
  padding: 6px 8px;
  font-size: 14px;
}

.dynamic-link-network-arrow {
  font-size: 20px;
  margin: 0 15px;
  display: flex;
  align-items: center;
}

.update-link-network-button {
  max-height: 30px;
  margin: 10px;
}
