.footer-project-action-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  margin-top: 15px;
  border-top: 1px solid @gray-darker-2;
  padding: 16px;
}

.btn-recalculate,
.btn-show-changes,
.btn-validate {
  width: 80%;
}

.btn-send {
  margin-top: 6px !important;
  background-color: @green;

  &:hover,
  &:focus {
    background-color: @green-dark;
    .transition(background-color 0.2s @easing-swift-out);
  }
}

.error-divider {
  display: block;
  height: 1px;
  background-color: #fff;
  margin: 12px 0;
}

.form-project-errors-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

// Project buttons
.recalculate,
.show-changes,
.send {
  margin-bottom: 5px;
}