.dropdown {
  border-color: @input-border-dark;
  color: white !important;
  background-color: #646461 !important;

  .form-control-focus(@input-border-focus-dark);


  &[disabled],
  &[readonly],
  fieldset[disabled] & {
    border-color: #646461 !important;
    color: #a4a4a2 !important;
    background-color: #5a5a57 !important;
  }

  display: block;
  width: 100%;
  height: (@line-height-modifier * 5)+2; // Height at least of their button counterparts: line-height + padding + border
  padding: @line-height-modifier (1px);
  font-size: @font-size-base;
  line-height: @line-height-modifier * 3;
  color: @input-color;
  .box-sizing(border-box);

  // Customize the `:focus` state to imitate native WebKit styles.
  .form-control-focus();

  // Active/selected visual state: white border and white glow.
  &:focus,
  &:focus-visible,
  &:active {
    border: 1px solid #a4a4a2;
    box-shadow: 0 0 5px rgba(204, 204, 204, 0.559);
  }
}