.spinner-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
  background: rgba(0, 0, 0, 0.6);
  border-top-left-radius: 2px;
  z-index: 120000 !important;

  .spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 74px;
    height: 74px;
    margin-top: -37px;
    margin-left: -37px;
    border-radius: 50px;
    background-color: @gray-darker-2;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    .img-retina('../images/spinner.gif', '../images/spinner@2x.gif', 64px, 64px);
  }
}

.spinner-overlay.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
}