.form {
  width: 360px;

  .asset-log-info,
  .asset-log-info-metadata,
  .asset-node-data,
  .asset-junction-data,
  .asset-input-node-data,
  .asset-input-junction-data {
    font-size: @font-size-small;
    line-height: @line-height-modifier * 3;
    color: #ffffff;
  }

  a {
    color: @input-color-placeholder-dark;
    text-decoration: underline;
  }

  a.incomplete-links,
  .unknown-speed-limits {
    position: absolute;
    right: 10px;
    bottom: 130px;
  }

  p.node-info {
    color: @link-color;
    text-decoration: none;
  }

  .undefined {
    font-style: italic;
    color: @gray-dark;
  }

  ul {
    margin: 0;
    padding: 0;
    color: #fff;
    list-style: none;

    li {
      padding-bottom: @line-height-modifier + 1;
      line-height: @line-height-modifier * 3;
    }
  }
}

.form-horizontal {
  .control-label {
    margin-top: @control-label-margin;
  }

  .control-label-short {
    margin-top: @control-label-margin-short;
  }

  .control-label,
  .control-label-short {
    width: @control-label-width;
    margin-right: @control-label-margin;
    font-size: @font-size-xs;
  }

  .control-label-projects {
    width: @control-label-projects-width;
    margin-right: @control-label-margin;
    font-size: @font-size-xs;
    margin-top: 10px;
  }

  .control-label-projects-list {
    vertical-align: middle !important;
    font-size: @font-size-large;
    margin-left: 10px;
  }

  .form-control.sub-control {
    width: auto;
  }

  .checkbox,
  .select,

  .choice-group,
  .btn-block {
    width: 210px;
  }

  .checkbox,
  .select,
  .choice-group,
  .btn-block {
    margin-top: @control-label-margin;
  }

  .project-choice-group {
    width: 370px;
    margin-top: 10px;
  }

  .asset-log-info {
    float: none;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
  }

  .asset-node-data,
  .asset-junction-data {
    float: none;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;

    label.required {
      color: @warning !important;
    }

    label.required:before {
      content: '*';
    }

    input {
      padding-left: @line-height-modifier;
    }
  }

  .asset-input-node-data,
  .asset-input-junction-data {
    display: inline-block;
    float: none;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
  }

  .asset-log-info-metadata {
    float: none;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
}

#information-content {
  p {
    z-index: 1011;
    color: @gray-lighter;
    position: absolute;
    right: 30px;
    bottom: 170px;
    font-size: 14px;
    text-align: center;
    width: 350px;
    word-wrap: break-word;
  }
}