body {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

body.scrollable {
  overflow: auto;
}

a {
  color: @link-color;
  text-decoration: none;

  &:hover,
  &:focus {
    color: @link-color-hover;
    text-decoration: underline;
  }
}

//== Header

#header {
  width: 100%;
  height: 40px;
  padding: 10px 20px 5px 10px;
  border-bottom: 1px solid @gray-darkest;
  text-align: center;
  background-color: @gray-darker-2;
  .box-sizing(border-box);
  .user-select(none);

  .logo {
    .text-hide();
    display: block;
    float: left;
    width: 75px;
    height: 15px;
    margin: 3px 0;
    color: #fff;
    .img-retina('../images/logo.png', '../images/logo@2x.png', 75px, 15px);
  }

  .notification {
    padding: 0px 6px;
    font-size: @font-size-small;
    color: #fff;
    float: left;
  }
  .headerTooltip {
    position: relative;
    display: inline-block;
    padding: 4px 0px 0px 20px;
    font-size: @font-size-small;
    color: #fff;
    float: left;
  }

  .action-state {
    display: inline-block;
    padding: 0 10px;
    border-radius: @border-radius-base;
    font-size: @font-size-small;
    line-height: @line-height-modifier * 6;
    color: #fff;
    background-color: @blue;
  }
}

.header-link {
  float: right;
  padding: 0 8px;
  border-radius: @border-radius-base;
  text-decoration: none;
  color: #fff;
  background-color: @gray-darker;
  .transition(all 0.2s @easing-swift-out);

  &:hover, &:focus {
    background-color: @gray-dark-2;
    color: #fff;
    text-decoration: none;
  }
}

.container {
  position: relative;
  flex: 1 1 auto;
  min-height: 0;
  display: flex;
  overflow: hidden;
}

.app-layout {
  flex: 1 1 auto;
  min-height: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#map-tools {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: #383836;
}


#contentMap {
  position: relative;
  flex: 1 1 auto;
  min-width: 0;
  min-height: 0;
  background-color: @gray-darker-2;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  .img-retina('../images/spinner.gif', '../images/spinner@2x.gif', 64px, 64px);
  div.mapplugins.bottom {
    bottom: 40px;
    height: 40px;
  }
}

#mapdiv,
#information-content {
  width: 100%;
  height: 100%;
}

#information-content {
  position: relative;
  overflow: auto;
}

#featureData {
  position: relative;
  left: 10px;
}

//== Landing pages
//## A wrapper used in landing pages such as login, new user, imports etc.

.page {
  max-width: 600px;
  margin: (@line-height-base * 2) auto;
}

.marker {
  background: url("../images/center-marker2.svg") center no-repeat;
  padding: 7px;
  margin: 3px;
  color: @input-color-dark;
  text-transform: uppercase;
}

.calibration-point-image {
  .text-hide();
  display: block;
  width: 75px;
  height: 32px;
  background-image:url("../images/calibration-point.svg");
  background-repeat: no-repeat;
}
img.calibration-point {
  float: left;
  width: 10px;
  height: 20px;
  margin: 3px;
}

.horizontal-line {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #CCC;
  margin: 1em 0;
  padding: 0;
  width: 300px;
}

.user-filter-input {
  width: 220px;
  text-align: center;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 92.8%;
  left: 35%;
}

.project-list-row {
  height: 40px !important;
  border-bottom: 1px solid darkgray;
}

.ol-unselectable {
  background-color: #f0f0f0;
}

// Scrollbars
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 0;
}

::-webkit-scrollbar-thumb {
  background: #1c7fdd;
  border-radius: 0;
}

::-webkit-scrollbar-thumb:hover {
  background: #0f6ac4;
}

::-webkit-scrollbar-button {
  display: none;
}

.panel {
  position: relative;
  width: 200px;
  background-color: @gray-lighter;

  .panel-header {
    padding: 10px;
    font-size: @font-size-large;
    line-height: @line-height-modifier * 3;
    color: #fff;
    background-color: @gray-darker;
    cursor: pointer;
    .transition(all .2s @easing-swift-out);

    &:hover {
      background-color: @gray-darker-2;
    }

    &.expanded {
      background-color: @gray-dark-2;
      cursor: inherit;
    }

    &.edit {
      background-color: @blue;
      cursor: inherit;
    }
  }

  .panel-section {
    padding: 10px;
    border-bottom: 1px solid @gray-light-2;
    color: @gray-darker;

    &:last-child {
      border-bottom: none;
    }
  }
}

.orange {
  color: #F0AB4E !important;
}

.viite-table {
  font-size: 12px;
  border-collapse: collapse;
  width: 100%;
  border: 3px solid #e3e3e1;

  thead {
    position: sticky;
    top: 0;
    background-color: #babbb9;
  }

  td,
  th {
    border: 1px solid #e3e3e1;
    text-align: left;
    padding: 8px;
  }

  tbody {
    tr:nth-child(even) {
      background-color: #babbb9;
    }
  }
}

.fa-window-close {
  &:hover {
    cursor: pointer !important;
  }
}

.form-check-date-notifications {
  p {
    color: @warning;
    font-size: @font-size-small;
    margin: 5px 0 0 110px;
  }
}