.node-info {
  color: @gray-lighter;
  font-size: @font-size-base;
  margin: 10px 0;
}

.node-junctions-table-dimension,
.node-points-table-dimension {
  width: 100%;
}

.node-junctions-table-header {
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  padding: 8px;
  border-bottom: 2px solid @gray-light;
}

.node-junctions-table-header .btn-pencil-edit {
  margin-left: 0;
}

.node-junctions-table {
  font-size: 12px;
  width: 100%;

  th {
    text-align: left;
    padding: 8px;
    background-color: @gray-darker;
  }

  td {
    text-align: left;
    padding: 8px;
  }

  tbody tr:nth-child(even) {
    background-color: @gray-lighter;
  }

  tbody tr:hover {
    background-color: @gray-light;
  }
}

.junction-point-address-input {
  width: 50px !important;
  margin: 1px 0 !important;
}