/* General table wrapper */
.change-table-frame {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 80%;
  max-width: 100%;
  min-width: 1280px;
  min-height: 116px;
  background-color: #e3e3e1;
  border: 2px solid #282826;
  border-radius: 3px;
  z-index: 2021;
}

/* Header Bar */
.change-table-header {
  min-width: 1020px;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  padding-right: 8px;
  background-color: #282826;
  color: #fff;
  z-index: 2021;
  font-weight: bold;
  font-size: 1.1rem;
}

.change-table-header .left {
  flex: 1;
}

.change-table-header .center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.change-table-header .right {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

.change-table-dimensions {
  width: 100%;
  border-spacing: 0;
  border-collapse: separate;
  table-layout: auto;
}

/* Column headings */
.project-change-table-dimension-header th,
.project-change-table-dimension-header td,
.project-change-table-dimension-h,
.project-change-table-dimension,
.project-change-table-dimension-first {
  border: 1px solid #bbb;
  padding: 4px 2px;
  text-align: center;
  white-space: nowrap;
}

// Make headers stay on top when scrolled
.project-change-table-dimension-header:first-child th {
  position: sticky;
  top: 0;
  z-index: 2020;
  background-color: #e3e3e1;
  border-bottom: 1px solid #282826;
}
.project-change-table-dimension-header:nth-child(2) th {
  position: sticky;
  top: 28px; /* Header first row height */
  z-index: 2019;
  background-color: #e3e3e1;
}

//Header Cell Styles
.project-change-table-dimension-h {
  height: 28px;
  color: #5a5a57;
  font-weight: bold;
  overflow: hidden;
  text-overflow: clip;
}

.project-change-table-dimension-first-h,
.project-change-table-dimension-first {
  font-weight: bold;
  text-transform: uppercase;
  width: 100px;
  min-width: 100px;
  max-width: 100px;
}

.wide-column {
  white-space: nowrap;
  width: auto;
  min-width: 50px;
}

.dimension-reversed {
  width: 100px;
  min-width: 100px;
  max-width: 100px;
}

// Row styling
.white-row {
  background-color: #fff;
}

// Utility
.btn-icon {
  margin-left: 5px;
  cursor: pointer;
}

.left p,
.warning {
  margin: 8px;
}

.warning {
  color: rgb(255, 255, 0);
}

// Scrollbar
.change-table-dimension-headers {
  overflow: auto;
  flex-grow: 1;

  /* Firefox scrollbar */
  scrollbar-width: auto;
  scrollbar-color: #1c7fdd #f0f0f0;
}

/* Chrome & Webkit scrollbar */
.change-table-dimension-headers::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.change-table-dimension-headers::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 3px;
}

.change-table-dimension-headers::-webkit-scrollbar-thumb {
  background: #1c7fdd;
  border-radius: 3px;
}

.change-table-dimension-headers::-webkit-scrollbar-thumb:hover {
  background: #0f6ac4;
}

.change-table-dimension-headers::-webkit-scrollbar-button {
  display: none;
}
