.btn-pencil-edit {
  margin-left: 10px;
  cursor: pointer;
  color: @gray-lighter;

  &:hover {
    color: @gray-lightest;
  }
}



.road-address-fields {
  display: flex;
  flex-wrap: nowrap;
  gap: 4px !important;
}


.road-address-section {
  margin-bottom: 15px;
  width: 100%;
}

// Form control variations for forms
.form-control.administrativeClassAndRoadName {
  width: 190px !important;
  margin-top: 6px !important;

  &[disabled],
  &[readonly],
  fieldset[disabled] & {
    border-color: #646461 !important;
    color: #a4a4a2 !important;
    background-color: #5a5a57 !important;
  }
}

//========================================
// ProjectForm.js styles
//========================================



//========================================
// ProjectEditForm.js styles
//========================================

.project-edit-selections {
  color: white;

  .project-edit {
    color: @gray-lighter !important;
    font-size: @font-size-small;

    label {
      color: @gray-lighter !important;
      font-weight: bold;
    }
  }
}

// Metadata styles
.form-group-metadata {
  margin-top: @input-margin-short;
  margin-bottom: @input-margin-short;
}

.asset-log-info-metadata {
  color: @gray-light;
  font-size: @font-size-small;
  margin: 0;
}

// Action buttons
.action-selected-field {
  .asset-log-info {
    color: @warning;
    font-size: @font-size-small;
    margin: 10px 0;
  }
}

//========================================
// Shared form styles
//========================================

.asset-log-info {
  color: @gray-light;
  font-size: @font-size-small;
}

// Validation styles
.validation-text {
  color: @warning;
  font-size: @font-size-small;
  margin: 10px 0;
}

.validation-warning {
  color: @warning !important;
  font-style: italic;
  font-size: @font-size-small;
}

.horizontal-line {
  border: none;
  border-top: 1px solid @gray-darker-2;
  margin: 10px 0;
}

// Calibration point
.calibration-point {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

label.validation-warning {
  color: @warning !important;
  font-style: italic;
  font-size: 10px;
}

// Discontinuity dropdown
// #reservedDiscontinuity,
// #newReservedDiscontinuity {
//   &.road-address-input {
//     width: 100%;
//   }
// }